<% provide(:title, "About") %>

<h1>About</h1>

<p>
Banyan Skill Tree is a project aiming at allowing users to easily create and share skill trees, for use in different projects.

The project source code is available here: <a href='http://github.com/Keref/banyan-skilltree'>Banyan-skilltree on GitHub</a>.
</p>
