<div class="center jumbotron">
  <h1>Welcome to Banyan Tree Skill</h1>

  <h2>
This website provides a convenient way of creating skill trees for any use.
See the <%= link_to "faq", help_path %> for more information.
  </h2>


  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
