<p id="notice"><%= notice %></p>

<h1>Listing Nodes</h1>

<% if @search == true %>
	<%= render 'search', :search_value => @search_value %>
<% end %>
<% if @nodes != nil %>
	<%= render 'listnodes', :nodes => @nodes %>
<% end %>
