<p id="notice"><%= notice %></p>

<% if @display == "courses" %>
	<h1>Courses</h1>
	<%= render 'listcourses_asblock', :nodes => @nodes %>
<% else %>
	<h1>Skill trees</h1>

	<% if @search == true %>
		<%= render 'search', :search_value => @search_value %>
	<% end %>

	<% if @nodes != nil %>
		<%= render 'listnodes', :nodes => @nodes %>
	<% end %>
<% end %>

