<% provide(:title, @node.name) %>

<h1><%= @node.name %></h1>

<div>
  <div>
	</div>
</div>

<div id="graphContainer">
</div>

<%= link_to 'Back', nodes_path %>


<div id="savestate"></div>
<script>
  jsPlumb.ready(init_jsplumb);
  <%= render 'filltree', :node => @node, :edit => false %>
</script>

