<% provide(:title, @node.name) %>

<h1><%= @node.name %></h1>

<div>
  <div>
	</div>
</div>

<div id="graphContainer">
</div>

<%= link_to 'Back', nodes_path %>

<script>

  <%= render 'filltree', :node => @node, :drag => false %>
</script>

