<%= render "show" %>

<div id="graphContainer">
</div>
<button onclick="postGraph('true')">Duplicate graph</button> | 
<% if current_user?(@node.user) %>
	<%= link_to 'Edit', edit_node_path(@node) %> |
<% end %>
<%= link_to 'Back', nodes_path %>


<div id="savestate"></div>
