// Place all the styles related to the Nodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


	.itemSkill {
		position: absolute;
		border: 1px solid black;
		background-color: #ddddff;
		#display: inline-block;
	}

	#graphContainer {
		border: 1px solid gray;
		width: 500px;
		height: 500px;
		#position: absolute;
	}
	  
	.title {
	  padding: 5px;
	  cursor: move;
	}
		
	.connect {
	  width: 100%;
	  height: 20px;
	  background-color: white;
	  cursor: pointer;
	}
